<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="../../assets/third-party/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../../assets/third-party/hamburger/hamburgers.css" rel="stylesheet">
    <link href="../../assets/css/main.css" rel="stylesheet">
    <script type="text/javascript" src="../../assets/js/jquery.js"></script>
    <link href="../../assets/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js" integrity="sha256-ssw743RfM8cbNhwou26tmmPhiNhq3buUbRG/RevtfG4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css" />
</head>
<body class="back-image">
    @if (Session["nomeUsuarioLogado"] != null)
    {
        <div class="controle-ini">
            <nav class="navbar navbar-static-top custom-nav">
                <div class="container">
                    <div class="row welckome">
                        <div class="nomeBarra">Bem-vindo @HttpContext.Current.Session["nomeUsuarioLogado"].ToString() </div>
                        <div class="botao-ini">
                            @Html.Partial("_Deslogar")
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    }
    
        <div class="menu-controller">
            <nav class="navbar navbar-static-top custom-nav">

                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="hamburger hamburger--spring-r" data-toggle="collapse" data-target="#navbar3">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </button>
                        <a href="#" class="navbar-brand">
                            Sa
                        </a>
                    </div>
                    <div id="navbar3" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            @Html.Partial("_NavBotoes")
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </nav>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <footer>
            <div class="rodape text-center">Copyright ©</div>
        </footer>
        
        
        <script type="text/javascript" src="../../assets/js/moment.js"></script>
        <script type="text/javascript" src="../../assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="../../assets/js/datetimepicker.js"></script>
        <script type="text/javascript" src="../../assets/js/main.js"></script>
        <script type="text/javascript" src="../../assets/js/validation.js"></script>
        
         <script src="~/assets/js/ouical.js"></script>
   
        
</body>
</html>
